.mainform{
    margin:0 auto;
    display:flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px black;
    width: 29vw;
}

.small{
    display: flex;
    justify-content: space-between;
    
}
input{
    border-radius:5px ;
    padding: 5px;
}
.smallparent{
    margin: 10px;
}

.smallparent p{
    margin: 0;
    color:red;
    font-size: small;
    text-align: end;
}

.small label{
    margin-right:20px
}  

.inputError{
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.2);
}

.labelError{
    color:red;
}

.span{
    color:red;
}

h4{
    text-align:center;
}

.buttons button{
    background-image:linear-gradient(to right,rgb(255, 115, 34),rgb(255, 86, 137)) ;
    border-radius: 3px;
    border: 1px solid rgb(255, 94, 0);
    padding: 10px;
    float:right;
    margin: 10px;
}

.buttons button:hover{
    background-image:linear-gradient(to right,rgb(250, 184, 146),rgb(255, 157, 187)) ;
    cursor: pointer;
    border: 1px solid rgb(255, 115, 0);
}

.divmid{
    width: 100vw;
    height: 100vh;
}

@media screen and (max-width:1200px){
    .mainform{
        width:93%
    }
}

@media screen and (max-width:950px){
    .mainform{
        width: 81%;
        margin: 0 auto;
    }
    .divmid{
        width: 99vw;
        height: 100vh;
    }
    .small{
        flex-direction: column;
    }
    .smallparent p{
        text-align: left;
    }
}

@media screen and (max-width:480px){
    .mainform{
        width: 81%;
        margin: 0 auto;
    }
    .divmid{
        width: 99vw;
        height: 100vh;
    }
    .small{
        flex-direction: column;
    }
}
