.first{
    display: flex;
    width:100vw;
    height: 93vh;
}

.second{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
}


@media screen and (max-width:1000px) {
    .second{
        margin-left: 19px;
    }
}

@media screen and (max-width:950px) {
    .first{
        flex-direction: column;
        height: 150vh;
    }
    .second{
        width: 100%;
        margin-top: 5%;
        margin-right: 0.2%;
        margin-left: 0px;
        margin-bottom: 3%;
    }
}

@media screen and (max-width:480px) {
    .first{
        flex-direction: column;
        height: 150vh;
    }
    .second{
        width: 100%;
        margin-top: 5%;
        margin-right: 0.2%;
        margin-left: 0px;
        margin-bottom: 3%;
    }
}

