.headerdiv{
    display: flex;
    margin-left: 1.5rem;
    width:90vw;
    height: 100%; 
}

@media screen and (max-width:950px){
    .headerdiv{
        margin-left: 0.2rem;
        margin-right: 0.2rem;
    }
}


@media screen and (max-width:480px){
    .headerdiv{
        margin: 0;
        width: 100%;
    }
}

